<section class="contacts-page ">
    <div class="container">
        <h1 class="contacts__title ">
            Контакты
        </h1>

        <div class="contacts__inner ">
            <div class="contacts__content">
                <div class="contacts__info">
                    <a class="contacts__tel" href="tel:+74832377424">
                        Телефон: +7 (4832) 37-74-24
                    </a>
                    <p class="contacts__text">
                        24050, г. Брянск, ул. Красноармейская, д. 136а <br>
                        ООО "Юридическая компания "Имею право"<br>ИНН: 3250524764 <br> ОГРН: 1113256012264
                    </p>
                    <a class="contacts__btn button__one open-modal-form" href="">
                        Получить консультацию

                    </a>
                </div>
                <div class="contacts__map">
                    <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A651342f7bb56bd29f7290bafe4635303d4b881aac9fdcdc8c2f913249afb0df7&amp;source=constructor"
                        width="100%" height="430" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>