@media (width > 1400px) {
    div {
        display: flex;
    }
}

@media (width <=1400px) {
    div {
        display: flex;
    }
}

@media (width > 700px) and (width <=998px) {
    div {
        display: flex;
    }
}