html {
    box-sizing: border-box;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    position: relative;
    overflow-x: hidden;

}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

label {
    cursor: pointer;
}



html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

.body {
    font-size: 16px;
    color: var(--text-color-2);
    background-color: var(--bg-color-1);
}

.body--opened-menu .menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.body--opened-modal {
    overflow: hidden;
}

.body--no-scroll {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
}

.hidden {
    font-size: 0;
    opacity: 0;
    visibility: hidden;
}

.button__one {
    position: relative;
    display: block;
    border-radius: 6px;
    padding: 16px 32px;
    width: fit-content;
    font-weight: 500;
    font-size: var(--font-size-text-1);
    text-align: center;
    color: var(--text-color-1);
    background: var(--linear-gradient-1);
    transition: 0.4s;

    @media (width < 375px) {
        font-size: var(--font-size-text-2);
    }
}

.accent-color-1 {
    color: var(--accent-color-1);
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.nowrap {
    white-space: nowrap;
}