:root {
    --accent-color-1: #1B8D32;
    --accent-color-2: #2ECD4E;
    --title-color-1: #FFF;
    --title-color-2: #333;
    --text-color-1: #fff;
    --text-color-2: #333;
    --bg-color-1: #f3f3f3;
    --bg-color-2: #0D3215;
    --bg-color-3: #fff;
    --linear-gradient-1: linear-gradient(#1B8D32 30%, #176D28);
    --linear-gradient-2: linear-gradient(#176D28 30%, #176D28);


    // Container
    --container-width: 1200px;
    --container-padding: 15px;

    // Font Sizes
    --font-size-title-1: 58px;
    --font-size-title-2: 48px;
    --font-size-title-3: 40px;
    --font-size-title-4: 32px;
    --font-size-title-5: 24px;
    --font-size-title-6: 20px;
    --font-size-text-1: 20px;
    --font-size-text-2: 18px;
    --font-size-text-3: 16px;
    --font-size-text-4: 15px;
    --font-size-text-5: 14px;

    // Font Families
    --font-family: "Gotham Pro", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Poppins", sans-serif;
    --font3: "Lato", sans-serif;

}