@media (width > 1200px) {
    div {
        display: flex;
    }
}

@media (width >992px) {
    div {
        display: flex;
    }
}

@media (width >768) {
    div {
        display: flex;
    }
}

@media (width > 576px) {
    div {
        display: flex;
    }
}

@media (width > 375px) {
    div {
        display: flex;
    }
}

@media (width > 700px) and (width <=998px) {
    div {
        display: flex;
    }
}