<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <img class="footer__background" src="/svg/footer-bg-icon.svg" alt="">
            <div class="footer__top-container">
                <div class="footer__logo-contact-block">
                    <a class="footer__logo" href="#">
                        <img src="/svg/logo-footer.svg" alt="">
                    </a>
                    <div class="footer__contact-cover">
                        <a class="footer__tel" href="tel:+74832377424">
                            +7 (4832) 37-74-24
                        </a>
                        <p class="footer__adress">
                            ул. Красноармейская, 136а
                        </p>
                    </div>
                </div>
                <ul class="footer__menu">
                    <li><a class="footer__menu-link" href="#">О компании</a></li>
                    <li><a class="footer__menu-link" href="#">Наши услуги</a></li>
                    <li><a class="footer__menu-link" href="#">Новости</a></li>
                    <li><a class="footer__menu-link" href="#">Контакты</a></li>
                </ul>
                <div class="footer__messengers">
                    <div class="footer__cover-messengers">
                        <a href="#" class="footer__messenger-img">
                            <img src="/svg/tg.svg" alt="">
                        </a>
                        <a href="#" class="footer__messenger-img">
                            <img src="/svg/whts.svg" alt="">
                        </a>
                    </div>
                    <a class="footer__button open-modal-form" href="#">
                        Написать нам
                    </a>
                </div>
            </div>
            <div class="footer__bottom-container">
                <p class="footer__copyright">© 2026 ИМЕЮ ПРАВО! Все права защищены</p>
                <a href="#" class="footer__copyright">Разработка и дизайн Колибри</a>
            </div>
        </div>
    </div>
</footer>