<header class="header">
    <div class="header__space">

    </div>
    <div class="header__top">
        <div class="header__container container">
            <div class="header__top-inner">
                <div class="header__logo-box">
                    <a class="burger-icon" href="#">
                        <svg class="burger-icon__burger" width="54px" height="54px" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path d="M20 7L4 7" stroke="#1B8D32" stroke-width="1.5" stroke-linecap="round">
                                </path>
                                <path d="M20 12L4 12" stroke="#1B8D32" stroke-width="1.5" stroke-linecap="round">
                                </path>
                                <path d="M20 17L4 17" stroke="#1B8D32" stroke-width="1.5" stroke-linecap="round">
                                </path>
                            </g>
                        </svg>
                        <svg class="burger-icon__back hidden" xmlns="http://www.w3.org/2000/svg" width="58px"
                            height="58px" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000"
                                stroke="none">
                                <path d="M2184 4461 c-44 -27 -60 -77 -41 -124 31 -72 -37 -67 942 -67 747 0
889 -2 938 -15 103 -27 167 -82 216 -185 l26 -55 0 -1455 0 -1455 -26 -55
c-37 -80 -81 -125 -157 -162 l-67 -33 -911 -5 c-873 -5 -913 -6 -933 -24 -33
-30 -45 -78 -27 -119 29 -71 -24 -67 968 -67 984 0 961 -1 1082 62 78 41 183
146 224 224 65 124 62 42 62 1634 0 1592 3 1510 -62 1634 -41 78 -146 183
-224 224 -121 63 -98 62 -1084 62 -865 0 -896 -1 -926 -19z" />
                                <path d="M1554 3614 c-40 -20 -900 -882 -909 -912 -19 -63 -14 -68 458 -540
449 -449 453 -452 493 -452 74 0 128 71 104 136 -6 16 -163 181 -353 372
l-342 342 1164 0 c1067 0 1165 1 1191 17 58 34 68 116 21 164 l-29 29 -1173 0
-1173 0 346 348 c268 268 347 354 353 379 9 44 -18 97 -60 117 -41 20 -52 20
-91 0z" />
                            </g>
                        </svg>
                    </a>
                    <a class="header__logo" href="index.html">
                        <img class="logo-full" src="/svg/logo-full.svg" alt="logo-full" width="240" height="40">
                        <img class="logo-icon" src="/svg/logo-icon.svg" alt="logo-full" width="54" height="64">
                    </a>
                </div>

                <div class="menu">
                    <div class="menu__inner">
                        <nav class="nav">
                            <ul class="nav__list">
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        О компании
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Наши услуги
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="#">
                                        Новости
                                    </a>
                                </li>
                                <li class="nav__item">
                                    <a class="nav__link" href="contacts.html">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header__contact-box contact-box">
                    <div class="contact-logotypes">
                        <a class="contact-logo__logo" href="">
                            <img src="/svg/tg.svg" alt="tg-logo" width="40" height="40">
                        </a>
                        <a class="contact-logo__logo" href="">
                            <img src="/svg/whts.svg" alt="whatsapp-logo" width="40" height="40">
                        </a>
                    </div>
                    <div class="contact-tel">
                        <div class="contact-tel__inner">
                            <a class="contact-tel__number-box">
                                <img class="contact-tel__img" src="/svg/tel.svg" width="16" height="16">
                                <span class="contact-tel__numbers">
                                    +7 (4832) 37-74-24
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>