<div class="modal modal__contact-form ">
    <div class="modal__contact-form-window">
        <div class="modal__contact-form-cancel">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13M1 1L13 13" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

        </div>

        <h3 class="modal-title modal__contact-form-title">
            Получить консультацию
        </h3>
        <p class="modal__contact-form-subtitle">
            Наши специалисты свяжутся с вами в ближайшее время
        </p>

        <form action="" class="modal__contact-form-form">
            <input class="modal__contact-form-name" type="text" placeholder="Введите ваше ФИО">
            <input class="modal__contact-form-mail" type="email" placeholder="Email">
            <button class="modal__contact-form-btn">Отправить данные</button>

        </form>

        <!-- <?php echo do_shortcode('[contact-form-7 id="e71ba79" title="Получить консультацию" html_class="modal__contact-form-form"]') ?> -->


    </div>
</div>
<!-- <div class="modal modal__success">
    <div class="modal__success-window">
        <div class="modal__success-cancel">
            ✕
        </div>

        <h3 class="modal-title">Спасибо!</h3>
        <p>Ваши данные успешно отправлены</p>
    </div>
</div> -->