<section class="news-page ">
    <div class="container">
        <h1 class="news-page__title ">
            Новости
        </h1>

        <div class="news-page__inner ">
            <div class="news-page__card-block ">

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="./post-page.html">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>

                <div class="news-page__card">
                    <div class="news-page__card-img">
                        <img src="/img/news-1.jpg" alt="Подбор судебной практики" width="323" height="210">
                    </div>
                    <div class="news-page__card-body">
                        <p class="news-page__card-date">
                            19.06.2025
                        </p>
                        <h3 class="news-page__card-title">
                            <a href="<?php the_permalink(); ?>">
                                Подбор судебной практики…
                            </a>
                        </h3>
                        <p class="news-page__card-text">
                            Подбирает решения по теме или обстоятельствам дела
                        </p>
                    </div>
                    <a class="news-page__card-btn card-btn__details" href="#">
                        Подробнее
                    </a>
                </div>




            </div>
            <div class="pagination">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="white" />
                    <path d="M26 29L21 24L26 19" stroke="black" stroke-width="2" />
                </svg>
                <div class="pagination__number pagination__number-active">1</div>
                <div class="pagination__number">2</div>
                <div class="pagination__number">3</div>
                <div class="pagination__number">4</div>
                <div class="pagination__number">5</div>
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" fill="white" />
                    <path d="M22 19L27 24L22 29" stroke="black" stroke-width="2" />
                </svg>
            </div>
        </div>
    </div>
</section>