<section class="news-post-page ">
    <div class="container">
        <h1 class="news-post-page__title ">
            Новости
        </h1>

        <div class="news-post-page__inner ">
            <div class="news-post-page__date">
                19.06.2025
            </div>
            <h2 class="news-post-page__post-title">
                Со страховой компании Евроинс взыскано сверх 400 000 рублей
            </h2>
            <div class="news-post-page__post-img">
                <img src="/img/hero.jpg" alt="" width="1200" height="430">
            </div>
            <p class="news-post-page__post-text">
                Большинство людей при обращении к страховщику подписывают ряд документов, как правило, не читая, что в
                дальнейшем лишает их возможности получить на ремонт большую сумму. К нам обратилась Светлана после того
                как узнала от страховой компании сумму предстоящей выплаты. В итоге оказалось, что в комплекте
                документов, предоставленных страховщиком и ею подписанных, оказались и заявление о страховом случае,
                подписав которое, денежные обязательства страховой перед ней прекратились, и заявление на ремонт, где
                клиент соглашается на установку бывших в употреблении деталей, доплату.  В результате страховщик
                направил автомобиль на ремонт, но клиенту пришлось доплачивать за ремонт из своего кармана. При
                своевременном обращении к нам такой ситуации можно было бы избежать и получить полную компенсацию
                ущерба. Поэтому, прежде чем обратиться в страховую компанию, воспользуйтесь БЕСПЛАТНОЙ консультацией
                наших специалистов. Наши специалисты:
                Рассчитают ущерб, Оценят перспективы получения возмещения со страховой компании в размере большем, чем
                насчитает страховая компания, Окажут сопровождение в страховую компанию или проконсультируют как вести
                себя при подаче документов.
            </p>
            <a class="news-post-page__button-back" href="../../../news.html">
                <span>
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="white" />
                        <path d="M26 29L21 24L26 19" stroke="black" stroke-width="2" />
                    </svg>
                </span>
                Назад
            </a>
        </div>
    </div>
</section>