<section class="about-one">
    <div class="container">
        <div class="about-one__inner">
            <div class="about-one__content-block">
                <img class="about-one__icon" src="/svg/logo-icon.svg" alt="" width="83" height="98">
                <p class="about-one__text">
                    МЫ - юридическая компания <span class="accent-color-1 nowrap">«ИМЕЮ ПРАВО!»</span> оказываем помощь
                    в реализации гражданам своих прав и их защита. Мы занимаемся определенными видами споров и не берем
                    все подряд. Наши юристы окажут вам профессиональную и квалифицированную помощь по любым интересующим
                    вопросам.
                </p>
            </div>
        </div>
    </div>
</section>