<section class="about-two">
    <div class="container">
        <div class="about-two__inner">
            <h2 class="about-two__title">
                Почему выбирают нас
            </h2>
            <div class="about-two__cards-block">
                <div class="about-two__card">
                    <p class="about-two__card-text">
                        Работаем на рынке юридических услуг с 2003 года
                    </p>
                </div>
                <div class="about-two__card">
                    <p class="about-two__card-text">
                        Работу по делу ведут только профессионалы своего дела
                    </p>
                </div>
                <div class="about-two__card">
                    <p class="about-two__card-text">
                        Мы знаем, как работает система изнутри
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>