<section class="bonus">

    <div class="container">
        <div class="bonus__inner">
            <h2 class="bonus__title">
                Получите <span class="accent-color-2">бесплатную</span> консультацию прямо сейчас
            </h2>
            <p class="bonus__text">
                Наши сотрудники готовы помочь вам в любой ситуации, звоните прямо сейчас
            </p>
            <a class="button__one open-modal-form" href="#">
                Получить консультацию
            </a>
        </div>
    </div>
</section>