<section class="main__usefull usefull">
    <div class="container">
        <div class="usefull__inner">
            <div class="usefull__header-block">
                <p class="usefull__kicker kicker">
                    ДТП ПОМОЩЬ
                </p>
                <h2 class="usefull__title title">
                    Полезное
                </h2>
                <a class="usefull__link" href="#">
                    Смотреть все
                </a>
            </div>

            <div class="swiper usefull__swiper-block">
                <div class="swiper-wrapper usefull__card-block">
                    <div class="swiper-slide usefull__card card">
                        <div class="usefull__card-img">
                            <img src="img/our-case.png" alt="">
                        </div>
                        <div class="usefull__card-body">
                            <p class="usefull__card-date">
                                19.06.2025
                            </p>
                            <h3 class="usefull__card-title">
                                Почему важна консультация до обращения в страховую компанию…
                            </h3>
                            <p class="usefull__card-text">
                                Большинство людей при обращении к страховщику подписывают ряд документов,
                                как правило, не читая, что в дальнейшем...
                            </p>
                        </div>
                        <a class="usefull__card-btn card-btn__details" href="#">
                            Подробнее
                        </a>

                    </div>
                    <div class="swiper-slide usefull__card card">
                        <div class="usefull__card-img">
                            <img src="img/our-case.png" alt="">
                        </div>
                        <div class="usefull__card-body">
                            <p class="usefull__card-date">
                                19.06.2025
                            </p>
                            <h3 class="usefull__card-title">
                                Как увеличить страховую выплату
                            </h3>
                            <p class="usefull__card-text">
                                Если вы попали в ДТП и Ваш автомобиль повреждён, важно сразу всё сделать
                                верно, чтобы получить выплату в полном объёме и на ремонт хватило.
                            </p>
                        </div>
                        <a class="usefull__card-btn card-btn__details" href="#">
                            Подробнее
                        </a>
                    </div>
                    <div class="swiper-slide usefull__card card">
                        <div class="usefull__card-img">
                            <img src="img/our-case.png" alt="">
                        </div>
                        <div class="usefull__card-body">
                            <p class="usefull__card-date">
                                19.06.2025
                            </p>
                            <h3 class="usefull__card-title">
                                Споры с виновником ДТП
                            </h3>
                            <p class="usefull__card-text">
                                Многие, кто обращались в страховую компанию сталкивались с тем, что
                                страховые компании агитируют клиента подписать соглашение...
                            </p>
                        </div>
                        <a class="usefull__card-btn card-btn__details" href="#">
                            Подробнее
                        </a>
                    </div>
                    <div class="swiper-slide usefull__card card">
                        <div class="usefull__card-img">
                            <img src="img/our-case.png" alt="">
                        </div>
                        <div class="usefull__card-body">
                            <p class="usefull__card-date">
                                19.06.2025
                            </p>
                            <h3 class="usefull__card-title">
                                Почему важна консультация до обращения в страховую компанию…
                            </h3>
                            <p class="usefull__card-text">
                                Большинство людей при обращении к страховщику подписывают ряд документов,
                                как правило, не читая, что в дальнейшем...
                            </p>
                        </div>
                        <a class="usefull__card-btn card-btn__details" href="#">
                            Подробнее
                        </a>

                    </div>
                    <div class="swiper-slide usefull__card card">
                        <div class="usefull__card-img">
                            <img src="img/our-case.png" alt="">
                        </div>
                        <div class="usefull__card-body">
                            <p class="usefull__card-date">
                                19.06.2025
                            </p>
                            <h3 class="usefull__card-title">
                                Как увеличить страховую выплату
                            </h3>
                            <p class="usefull__card-text">
                                Если вы попали в ДТП и Ваш автомобиль повреждён, важно сразу всё сделать
                                верно, чтобы получить выплату в полном объёме и на ремонт хватило.
                            </p>
                        </div>
                        <a class="usefull__card-btn card-btn__details" href="#">
                            Подробнее
                        </a>
                    </div>
                    <div class="swiper-slide usefull__card card">
                        <div class="usefull__card-img">
                            <img src="img/our-case.png" alt="">
                        </div>
                        <div class="usefull__card-body">
                            <p class="usefull__card-date">
                                19.06.2025
                            </p>
                            <h3 class="usefull__card-title">
                                Споры с виновником ДТП
                            </h3>
                            <p class="usefull__card-text">
                                Многие, кто обращались в страховую компанию сталкивались с тем, что
                                страховые компании агитируют клиента подписать соглашение...
                            </p>
                        </div>
                        <a class="usefull__card-btn card-btn__details" href="#">
                            Подробнее
                        </a>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>
</section>