<section class="our-services">
    <div class="container">
        <div class="our-services__inner">
            <h2 class="our-services__title">
                Наши услуги
            </h2>
            <div class="our-services__cards-block">
                <div class="our-services__card">
                    <div class="our-services__card-header">
                        <img class="our-services__card-icon" src="./svg/Done.svg" alt="" width="55" height="55">
                        <h3 class="our-services__card-title">
                            Семейные споры
                        </h3>
                    </div>
                    <p class="our-services__card-text">
                        Защита прав и интересов
                        участников семейных
                        отношений при разрешении
                        конфликттов
                    </p>
                </div>
                <div class="our-services__photo-card">
                    <img src="./img/services1.jpg" alt="Фото наших услуг" width="762" height="271">
                </div>
            </div>
            <div class="our-services__cards-block">
                <div class="our-services__card">
                    <div class="our-services__card-header">
                        <img class="our-services__card-icon" src="./svg/Done.svg" alt="" width="55" height="55">
                        <h3 class="our-services__card-title">
                            Медицинские споры
                        </h3>
                    </div>
                    <p class="our-services__card-text">
                        Защита прав пациентов при
                        нарушении их интересов в
                        сфере здравоозранения
                    </p>
                </div>
                <div class="our-services__photo-card">
                    <img src="./img/services2.jpg" alt="Фото наших услуг" width="762" height="271">
                </div>
            </div>
            <div class="our-services__cards-block">
                <div class="our-services__card">
                    <div class="our-services__card-header">
                        <img class="our-services__card-icon" src="./svg/Done.svg" alt="" width="55" height="55">
                        <h3 class="our-services__card-title">
                            Споры по возмещению вреда
                        </h3>
                    </div>
                    <p class="our-services__card-text">
                        Защита прав пострадавшего и получение компенсации за причиненный ущерб
                    </p>
                </div>
                <div class="our-services__photo-card">
                    <img src="./img/services3.jpg" alt="Фото наших услуг" width="762" height="271">
                </div>
            </div>
            <div class="our-services__cards-block">
                <div class="our-services__card">
                    <div class="our-services__card-header">
                        <img class="our-services__card-icon" src="./svg/Done.svg" alt="" width="55" height="55">
                        <h3 class="our-services__card-title">
                            Споры с застройщиками
                        </h3>
                    </div>
                    <p class="our-services__card-text">
                        Защита прав дольщиков при нарушении условийдоговора долевого участия

                    </p>
                </div>
                <div class="our-services__photo-card">
                    <img src="./img/services4.jpg" alt="Фото наших услуг" width="762" height="271">
                </div>
            </div>
        </div>
    </div>
</section>